/* Universal Seletor*/
*{
	cursor:pointer;
	/*background-position:center;*/
}

.firstdiv{
	font-size:50px;
	width:800px;
	height:200px;
	background:rgba(58,90,118,0.3);
	/*opacity:0.5;*/
	color:red;
	border:5px;
	border-style:dotted;
	border-color: yellow;
	/*border-style:solid; */
	/*margin:updown leftright;*/
	margin:100px 50px;
	padding:30px;
	border-radius: 30px;

}

div p{padding:70px;}
.seconddiv{
	font-size:40px;
	width:600px;
	height:200px;
	border-style: double;
	
	background-color: pink;
	color:green;
	background-repeat:repeat;
	border-color: red;
	/*background-repeat:no-repeat;*/
	/*background-repeat:repeat-x;*/
	/*background-repeat:repeat-y;*/
	background-position:center;
	margin:100px auto;
}